.calc {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
  border: 1px solid blue;
  height: 300px;
  margin-top: 8px;
  border-radius: 8px;
}

button {
  width: 40px;
  height: 20px;
  margin-left: 12px;
  margin-top: 8px;
}

input {
  max-width: 170px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
  width: 190px;
  padding: 10px;
  margin-left: 43%;
  margin-top: 10%;
  background-color: cornflowerblue;
  border-radius: 5px;
}

body {
  background-color: aquamarine;
}